#main {
    margin-left: 50px;
}
    #i1{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
    background-color: turquoise;
}
#i2{
    border: 2px solid black;
    width: 412px;
    text-align: center;
    background-color: turquoise;
}
#i3{
    border: 2px solid black;
    width: 100px;
    height: 150px;
    text-align: center;
    float: left;
    background-color: yellowgreen;
}
#i4{
    border: 2px solid black;
    width: 204px;
    height: 150px;
    text-align: center;
    float: left;
    background-color: yellow;
}
#i5{
    border: 2px solid black;
    width: 100px;
    height: 150px;
    text-align: center;
    float: left;
    background-color: yellowgreen;
}